<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #72b2bbc9!important;" th:fragment="navar">
    <div class="container px-4 px-lg-5">
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="font-size: large;">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link" aria-current="page" href="#">Técnicos</a></li>
                <li class="nav-item"><a class="nav-link" aria-current="page" href="#">Estadísticas - Equipos</a></li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>